@font-face {
  font-family: averta-regular;
  src: url('./fonts/averta/averta-regular-webfont.ttf');
  font-display: fallback;
}

@font-face {
  font-family: averta-italic;
  src: url('./fonts/averta/averta-regularitalic-webfont.ttf');
  font-display: fallback;
}

@font-face {
  font-family: averta-semibold;
  src: url('./fonts/averta/averta-semibold-webfont.ttf');
  font-display: fallback;
}

@font-face {
  font-family: averta-bold;
  src: url('./fonts/averta/averta-bold-webfont.ttf');
  font-display: fallback;
}
