@import './fonts';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: averta-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

main {
  width: 100%;
  height: max-content;
  min-height: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  height: max-content;
  min-height: 100%;
  max-width: 1250px;
  min-width: 250px;
  margin: auto;
}

.layout-container {
  margin: 40px auto;
}

.primary {
  cursor: pointer;
  padding: 5px;
  margin-top: 10px;
  width: auto;
}

.secondary-btn {
  cursor: pointer;
  padding: 5px 13px;
  width: max-content;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: #3e8e41;
  }

  &:active {
    background-color: #3e8e41;
    transform: translateY(1px);
  }
}
