@import './fonts';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: averta-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

main {
  width: 100%;
  height: max-content;
  min-height: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  height: max-content;
  min-height: 100%;
  max-width: 1250px;
  min-width: 250px;
  margin: auto;
}

.layout-container {
  margin: 40px auto;
}

.primary {
  cursor: pointer;
  padding: 5px;
  margin-top: 10px;
  width: auto;
}
