.module-container {
  .header-title {
    font-size: 28px;
    font-family: averta-semibold;
  }

  .top-section {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    .filter {
      display: flex;
      width: 30%;

      .input-row {
        margin: 0;
        flex: 1;
      }

      button {
        margin: 0 5px;
        height: 100%;
        padding: 0 20px;
        background-color: black;
        border: 1px solid black;
        border-radius: 5px;
        color: white;
        outline: none;

        &:active {
          background-color: black;
          transform: translateY(1px);
        }
      }
    }
  }

  .table-data {
    margin-top: 20px;

    table {
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      text-align: center;
      padding: 0;
      background-color: rgb(253, 243, 228);
      .thead {
        background-color: rgb(233, 207, 165);
      }
      tr {
        td,
        th {
          width: 50%;
          padding: 0;

          & > table {
            tr {
              td {
                &:first-child,
                &:last-child {
                  border: 0px;
                }

                border-top: 0px;
                border-bottom: 0px;
              }

              th {
                &:first-child,
                &:last-child {
                  border: 0px;
                  border-top: 1px solid black;
                }
                border-bottom: 0px;
              }
            }
          }
        }

        td,
        th {
          padding: 0;
          border: 1px solid black;
          word-break: break-all;
        }
      }
    }

    .header {
      color: blue;
    }
  }

  .status-active {
    background-color: #4caf50;
    color: white;
    width: max-content;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 5px;
    margin: 2px auto;
  }

  .status-inactive {
    background-color: #f54e31;
    color: white;
    width: max-content;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 5px;
    margin: 2px auto;
  }

  .edit-btn {
    cursor: pointer;
    padding: 0px 13px;
    width: max-content;
    text-align: center;
    font-size: 14px;
    outline: none;
    color: #fff;
    background-color: #4c56af;
    border: none;
    border-radius: 5px;

    &:hover {
      background-color: #3c458f;
    }

    &:active {
      background-color: #3c458f;
      transform: translateY(0.5px);
    }
  }
}
